// Fontes
$fontePrincipal: 'Roboto', sans-serif;

// Cores
$corBaseBranco: #fff;
$corDeFundo: #f5f6fa;
$corDeFundoBotao: #44bd32;
$corDeFundoBotaoHover: #4cd137;
$corDeFundoHeader: #182c61;

// Breakpoints
$bpMobile: 767px;
$bpTablet: 1023px;
