// Fontes
$fonteBase: 'Quicksand', sans-serif;
$fonteTitulo: 'Roboto', sans-serif;

// Cores
$corDeFundo: #b33939;
$corDeFundoClara: #ccae62;
$corBaseBranco: #f7f1e3;
$corBaseTexto: #2c2c54;
$corTitulo: #cd6133;
$corFundoBotao: #218c74;
$corFundoBotaoHover: #33d9b2;
