@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {
    --bgcolor-0: #cfdbd5;
    --bgcolor-1: #333533;
    --bgcolor-2: #242423;

    --color-light-default: #e8eddf;
    --color-light-title: #cfdbd5;
    --color-dark-default: #333533;
    --color-dark-title: #242423;
    --color-link: #f5cb5c;
    --color-link-hover: #d17a23;

    --font-default: 'Quicksand', sans-serif;
    --font-title: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-default);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--bgcolor-2);
    color: var(--color-light-title);
    border-bottom: 1px solid var(--color-light-default);
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.25em;
    font-weight: normal;
}

header ul li {
    display: inline;
    margin-left: 16px;
}

header ul li a {
    color: var(--color-link);
    text-decoration: none;
}

header ul li a:hover {
    color: var(--color-link-hover);
}

#intro {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/open-book.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h2 {
    font-weight: normal;
    font-size: 4em;
    line-height: 76.8px;
    margin-bottom: 20px;
    color: var(--color-light-title);
}

#intro hr {
    width: 90%;
    border: 0px;
    border-top: solid 1px var(--color-link-hover);
}

#intro p {
    font-size: 1.13em;
    line-height: 34.8px;
    margin-bottom: 0px;
    margin-top: 20px;
    color: var(--color-light-default);
}

#perfil-profissional, 
#atuacao, 
#linux,
#contato {
    display: flex;
    padding: 60px 20px;
}

#perfil-profissional,
#linux {
    background-color: var(--bgcolor-1);
    color: var(--color-light-default);
    align-items: center;
}

#atuacao,
#contato {
    background-color: var(--bgcolor-0);
    color: var(--color-dark-default);
    align-items: start;
}

#perfil-profissional img {
    order: 1;
    flex-basis: 35%;
    width: 370px;
}

#perfil-profissional div {
    order: 2;
    flex-basis: 65%;
}

#perfil-profissional div h3,
#atuacao div h3,
#linux div h3,
#contato div h3 {
    font-size: 1.88em;
    font-weight: normal;
    line-height: 39px;
    margin-bottom: 20px;
}

#perfil-profissional div h3,
#linux div h3 {
    color: var(--color-light-title);
}

#atuacao div h3,
#contato div h3 {
    color: var(--color-dark-title);
}

#atuacao div {
    flex-basis: 50%;
}

#linux img {
    order: 1;
    flex-basis: 35%;
    width: 370px;
}

#linux div {
    order: 2;
    flex-basis: 65%;
}

#contato {
    justify-content: space-between;
}

#contato div {
    flex-basis: 40%;
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato-form input,
#contato-form textarea,
#contato-form button {
    padding: 8px;
    margin-bottom: 4px;
    font-family: var(--font-default);
}

#contato-form button {
    background-color: var(--bgcolor-2);
    color: var(--color-light-default);
    font-size: 1.1em;
    cursor: pointer;
    border: none;
}

#contato-form button:hover {
    background-color: var(--bgcolor-1);
}

#contato-redes-sociais ul {
    display: flex;
    justify-content: start;
}

#contato-redes-sociais ul li {
    display: inline;
    margin: 0 16px;
}

footer .container {
    background-color: var(--bgcolor-2);
    color: var(--color-light-default);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
li {
    font-family: var(--font-default);
    font-size: 0.94em;
    line-height: 28px;
    margin-bottom: 24px;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

ul {
    margin-left: 20px;
    list-style-type: circle;
}

li {
    margin-bottom: 12px;
    
}

em {
    font-style: italic;
}